@page
@model FlavorFusion.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Explore Our Elegant Recipes";
}

<!-- Welcome Section -->
<div class="welcome-section">
    <h2>Welcome! Discover our delicious recipes.</h2>
    <p>Find the recipe with your favorite ingredients and let us know your thoughts!</p>
</div>

<p>
    <a asp-page="Create" class="btn btn-success">Tell us your magic recipe! Create a new one.</a>
</p>
<table class="table table-hover table-bordered">
    <thead class="table" style="background-color: #DCF4F4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeD.Recipes.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeD.Recipes.FirstOrDefault().Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeD.Recipes.FirstOrDefault().Instructions)
            </th>
            <th>
                Categories
            </th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.RecipeD.Recipes)
        {
            string selectedRow = "";
            if (recipe.Id == Model.RecipeID)
            {
                selectedRow = "table-success";
            }

            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => recipe.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => recipe.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => recipe.Instructions)
                </td>
                <td>
                    @if (recipe.RecipeCategories != null)
                    {
                        foreach (var category in recipe.RecipeCategories)
                        {
                            if (category.Category != null)
                            {
                                <span>@category.Category.Name</span>

                                <br />
                            }
                        }
                    }
                </td>
                <td>
                    @if (recipe.User != null)
                    {
                        <span>@recipe.User.UserName</span>
                    }
                    else
                    {
                        <span>No User</span>
                    }
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@recipe.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@recipe.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@recipe.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>