@page
@model FlavorFusion.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-4">
    <h4 class="display-4">Welcome to Flavor Fusion Members!</h4>
    <p class="lead">
        Here you can see our community members, manage their profiles, and explore their delicious recipes.
        Feel free to browse or create new members and content.
    </p>
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
</div>
<table class="table table-hover table-bordered">
        <thead class="table" style="background-color: #DCF4F4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
    @foreach (var item in Model.User) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
</table>
